body {
    margin: 0px;
}

div {
    height: 150px;
    width: 150px;
    text-align: center;
    border: 2px dotted black;
    border-radius: 15px;
    box-sizing: border-box;
    display: inline-block;
    margin: 20px;
}

#cuadrosC div {
    background-color: #49E;
}

#cuadro-4 {
    width: 535px;
    background-color: #E49;
}

#cuadrosV div {
    background-color: #9E4;
}